.vh-100{
    background-color: #508bfc
}
.card shadow-2-strong{
    border-radius: 1rem
}
.addavailability{
    width: 60% !important;
}
.addsuccess{
    color: green;
    display: none;
}
.plusbtn{
    font-size: 2em;
    display: none;
}
.plusbtn:hover{
    cursor: pointer;
}