.vh-200{
    background-color: #508bfc;
}
.card shadow-2-strong{
    border-radius: 1rem;
}

.signin{
    cursor: pointer;
}

.Err{
    color: red;
    font-weight: bold;
}

#passRegX{
    display: none;
}