.card text-center{
    height: 100%;
}
#car{
    background-color: #508bfc;
}
.card{
    border-radius: 15px;
}
.d-flex justify-content-start rounded-3 p-2 mb-2{
    background-color: #efefef;
}
.vh-100{
    background-color: #508bfc;
}


.fa-address-card{
    font-size: 10em;
}
