    
/* styling navlist anchor element */
.navico 
{
    color: #f2f2f2;
    font-size: 1.5em;
  
}
/* hover effect of navlist anchor element */
.navico:hover {
    cursor: pointer;
}

.navtitle{
    color: white;
    font-weight: bold;
}

.navtitle:hover{
   cursor: pointer;
}
